.container{
	margin-top:10px;
	margin-left: -10px; 
	display: grid;
  	grid-template-columns: auto auto auto auto auto;
  	grid-gap: 15px;
}
.box-type{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	width: 316px;
  }
.box-img{
	padding-left: 7px;
	padding-top: 7px;
	border-radius: 50%;
}
.box-title, .box-ticket , .box-status {
	margin-top: -0.5px;
	font-size:15px;
	text-align: left;
	margin-left: -10px;
}
.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.red{
	background-color:rgba(206, 50, 50, 0.993)
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}
.yellow{
	background-color:#ffe75d;
}
.blk{
	background-color:#0000;
}
.Header{
	margin-top:5%;
	height:auto;
	border: 1px solid #0000;
}
.Header h2{
	text-align:center;
	font-size:37px;
	padding-bottom: -50px;
}
/* enable absolute positioning */
.inner-addon { 
    position: relative;
	width: 25%;
	padding-left: 5px;
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .fa { 
	right: 0px;
	padding-top: 13px;
}

/* add padding  */
.right-addon input {
	padding-right: 30px;
	border-radius: 25px;
	height: 40px;
}